.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    box-shadow: 0 1rem 5rem rgba($color-black, $alpha: 0.4);
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 4rem;
    right: 4rem;
    border-radius: 50%;
    z-index: 100;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover{
      transform: scale(1.05);
    }
  }

  &__background {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 10;

    transition: transform 0.8s;
  }

  &__nav {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: 50;

    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &__list {
    @include centerItem;
    width: 100%;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 2rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2.5rem;
      font-weight: 300;
      width: 30rem;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 215%;
      transition: all 0.4s;

      span {
        margin-right: 1rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-gray-dark-1;
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after{
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;

  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
    
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }

}
