*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* this should be set to a percentage 
  so if the user has a personalized setting it is still applied */
  font-size: 62.5%;
}

body {
  padding: 3rem;
  box-sizing: border-box;
}